* {
  box-sizing: border-box;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
  text-align: left;
}

.article-grid:first-child {
  grid-row: 1/ 3;
}

button:focus {
  outline: none !important;
}
