* {
  box-sizing: border-box;
}

.heading {
  margin: auto;
}

nav h1 {
  margin-bottom: 0;
}

nav a {
  text-transform: capitalize;
}

.article-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 0.5em;
  text-align: left;
}

@media (min-width: 1281px) {
  .article-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .article-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* .article-grid:first-child {
  grid-row: 1/ 3;
} */

button:focus {
  outline: none !important;
}
